<h2>List of ratings <%= @ratings.count %></h2>

<ul>
  <% @ratings.each do |rating| %>
    <li> 
      <%= rating.to_s %> 
      <%= link_to rating.user.username, rating.user %>
    </li>
  <% end %>
</ul>
<%= link_to 'new rating', new_rating_path%>